.game{
    width: 600px;
    height: 400px;
    background-color: #083a4c;
    border: 1px red solid;
    border-radius: 3px;
    position: relative;
    padding: 0;
}

#ball{
    position: absolute;
    top: 0;
    left: 0;
}