.game {
    /*try not to change these values*/
    width: 600px;
    height: 400px;
    background-color: #083a4c;
    border: 1px red solid;
    border-radius: 3px;
    position: relative;
    padding: 0;
}

#ball {
    position: absolute;
    top: 0;
    left: 0;
}

#player1-stick {
    position: absolute;
    /*top: 160px;*/
    left: 0;
    /*height of the sticks are used in the js code explicitly. changing this may result in bad experience in moving the sticks*/
    width: 8px;
    height: 80px;
}

#player2-stick {
    position: absolute;
    /*top: 160px;*/
    right: 0;

    /*height of the sticks are used in the js code explicitly. changing this may result in bad experience in moving the sticks*/
    width: 8px;
    height: 80px;
}